body{
    background-color: rgb(85, 217, 217);
}
.container{
    font-size: large;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
    border: 5px;
    border-radius: 10px;
}
#RegisterForm{
align-items: center;
}